# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build output directories
dist/
build/

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore coverage reports
coverage/

# Ignore dependency directories
.pnp/
.pnp.js

# Ignore yarn lock files
yarn.lock
.pnp.js

# Ignore npm lock files
package-lock.json

# Ignore TypeScript build output
*.tsbuildinfo

# Ignore Python cache directories
__pycache__/

# Ignore Discord secret file
discord_secret.txt

# Ignore service account file
service_account.json

# Ignore tera image
tera.png
